.modal {
    position: relative;
    width: 720px;
    padding: 40px;
    background: var(--background);
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 1001;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

body.open {
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close {
    cursor: pointer;
}

