.item {
    display: flex;
    align-items: center;
    gap: calc(var(--offset-base-size) * 2);
    background-color: var(--background);
    border-radius: var(--common-border-radius-s);
    cursor: pointer;
}

.item:last-child {
    margin-left: auto;
}

.item:first-child {
    margin-left: 0;
    padding-left: 0;
}
