.item {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--background);
    border-radius: var(--common-border-radius-s);
    cursor: pointer;
}

.item:last-child {
    margin-left: auto;
}

