html {
  box-sizing: border-box;
  scrollbar-color: auto !important;
}

body {
  margin: 0 auto;
  color: var(--text-primary-color-light);
  overflow-y: hidden;
}

:root{
  --text-primary-color-light: #f2f2f3;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  margin: 0;
  padding: 0;
  list-style: none;
}

